* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}


.content {
    width: 50%;
}

#map {
    width: 50%;
    height: 100vh;
}

.leaflet-control-attribution .leaflet-control a {
    display: none;
}